.main__auth
{
    font-family: 'Inter';
    height: 100vh;
    width: 100vw;
    background-color: #D7DBEC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__container
{
    height: 87vh;
    width: 30vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.form__heading
{
    font-weight: 540;
    font-size: 2rem;
    margin-top: 1.8rem;
}
.form__subheading
{
    color: #5A607F;
    margin-top: 0.8rem;
    font-size: 0.9rem;
}
.toggle__button
{
    color: #1E5EFF;
    margin: 0.5rem;
    cursor: pointer;
}
.main__form__container
{
    width: 85%;
    margin-top: 2rem;
}
.main__form__container form
{
    display: flex;
    flex-direction: column;
}
.form__container input
{
    height: 1.6rem;
}
.input__container
{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;

}
.input__container input
{
    font-size: 1.1rem;
    padding: 0.6rem;
    color: #A1A7C4;
    outline: none;
    border: 1px solid #D9E1EC;
    border-radius: 2px;
}
.input__container label
{
    color: #5A607F;
    margin-bottom: 5px;
}
.checkbox__container
{
    color: #5A607F;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.checkbox__container input
{
    cursor: pointer;
}
.submit__button
{
    height: 2.8rem;
    background-color: #1E5EFF;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.message__footer
{
    font-size: 0.8rem;
    color: #5A607F;
    margin-bottom: 0.4rem;
}
.terms
{
    color: #1E5EFF;
    cursor: pointer;
}
.horizontal__line
{
    background-color: #D7DBEC;
    height: 1.8px;
    width: 80%;
    margin-top: 1.5rem;
}
.footer__heading
{
    font-size: 0.9rem;
    color: #5A607F;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer__cards
{
    border: 2px solid #D7DBEC;
    color: #1E5EFF;
    height: 2.5rem;
    font-size: 1.2rem;
    letter-spacing: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    cursor: pointer;
    margin-bottom: 1rem;
    gap: 0.5rem;
}